*{
  padding-left: 5px;
  padding-right: 5px;
  
}

.navbar{
  background: rgb(22, 21, 21);
height: 100px;
  color: rgb(241, 234, 234);
  text-align: left;
  font-size: 55px;
  

}
#input{
  box-align: center;
  padding-top: 55px;
  width: 50%;
  font-size: 2vw;
}


.navbar a {
  color: rgb(241, 234, 234);
  margin: 1vw;
  text-align: right;
  
}



.navbar a:hover{
  color: gold;
}


.mainheader{
  background-image: url("./Images/hanny-naibaho--3savqescr8-unsplash.jpg");
  position: relative;
  background-position: center;
  background-size: 1550px 500px;
  background-repeat: no-repeat;
  height: 500px;
  text-align: center;
  width: 100%;
  align-content: center;
  padding-top:5%;
  padding-left: 25%;
  padding-right: 25%;
  color: antiquewhite;
  font-size: 1.7vw;
}






